@{
    ViewData["Title"] = "Описание задачи";
}

<h1 class="display-4">Cоздать TreeList</h1>

<a href="https://demos.telerik.com/aspnet-core/treelist" class="link-opacity-10-hover">Ссылка на TreeList</a>

<ul class="list-group">
    <li class="list-group-item">1. Возможность добавления, изменения и удаления элементов (1 уровня и дочерних)</li>
    <li class="list-group-item">2. Элементы хранятся в httpContext.Session, обновление страницы не приводит к потере данных</li>
    <li class="list-group-item">3. Элемент состоит из 2 колонок: Имя (текст), Значение(вещественное число)</li>
    <li class="list-group-item">4. Каждая ячейка редактируется отдельно, обязательно только имя</li>
    <li class="list-group-item">5. В поле значение отображается сумма: значения введённого пользователем и значений всех детей элемента</li>
    <li class="list-group-item">6. По наведению на поле Значение во всплывающей подсказке показано значение введённое у элемента</li>
    <li class="list-group-item">7. Дробная часть видна до 2 знака после запятой, если она не равна нулю</li>
    <li class="list-group-item">8. Если дробная часть равна нулю дробная часть не показывается</li>
    <li class="list-group-item">9. Значения больше 1000 выделяются жирным</li>
</ul>